<div class = "container">
  <form>
     <div class = "form-group">
        <label for = "emailid">Email ID</label>
        <input type = "text" class = "form-control" id = "emailid" required
           [(ngModel)] = "model.email" name = "emailid">
     </div>
     
     <div class = "form-group">
        <label for = "password">Password</label>
        <input type = "password" class = "form-control" id = "password"
           [(ngModel)] = "model.password" name = "password">
     </div>
     <button type ="submit" (click)="submit()">Submit</button>
  </form>
</div>